/* Universal Elements */

body{
    font-family: "Spectral", Garamond, serif;
    font-size: 16pt;
    color: #10040E;
}

button{
    font-family: "Spectral", Garamond, serif;
    color: #17A398;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    padding: 0%;
    font-size: 16pt;
    cursor: pointer;
}

h1{
    font-family: "Alice", Georgia, serif;
}

h2{
    font-family: "Style Script", Georgia, serif;
}

#pgHead{
    font-size: 40px;
    text-align: center;
}

.listHead{
    outline: 1px solid red;
    font-size: 20pt;
    text-decoration: underline;
}

.opt{ /* Keep optional items from displaying */
    display: none;
}


/* Header */

#header{
    height: 64px;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 100px;
    grid-area:
    "tn nav contact";
}

.tn{
    background-color: rgb(16, 4, 14, 0.25);
    margin: none;
    padding: none;
    text-align: center;
}

.tn img{
    padding-top: 16px;
}

.nav{
    background-color: #10040E;
    font-family: "Spectral SC", Garamond, serif;
    font-size: 20pt;
    list-style-type: none;
}


.nav ul{
    text-align: center;
    padding-right: 20mm;
}
.nav li{
    display: inline;
    padding-left: 50px;
    font-size: 20pt;
}

.nav a{
    color: #EEEEFF;
    text-decoration: none;
}

.contactBar{
    background-color: rgb(16, 4, 14, 0.25);
}

.linkedIn{
    padding-left: 10px;
    padding-bottom: 12px;
    align-self: start;
}

.email{
    padding-top: 8px;
    align-self: center;
}


/* Homepage Content */

.hero{
    outline: 1px solid red;
    height: auto;
    padding: 25px;

}

.intro{
    outline: 1px solid red;
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    grid-template-areas:
    "img txt"
    ;
}

.intro img{
    grid-area: img;
}

.intro p{
    grid-area: txt;
}

.h1{
    font-family: "Alice", Georgia, serif;
    font-size: 35px;
}

.fancy{
    font-family: "Style Script", Georgia, serif;
    font-size: 35px;
}

.about{
    outline: 1px solid red;
}

.focus{
    padding-left: 50px;
    padding-bottom: 20px;
}

.skills{
    padding-left: 50px;
    padding-bottom: 20px;
}

.resume{
    padding-left: 50px;
    padding-bottom: 20px;
}

.works{
    outline: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.works img{
    outline: 2px solid #441151;
    flex: 1 1 1;
}

.contactHome{
    outline: 1px solid red;
    padding: 40px;
    text-align: center;
}

/* Skills Page */

#skills{
    outline: 1px solid red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "pgHead pgHead pgHead pgHead"
        "empathy creative tools code"
        "more more more more"
        ;
        
}

.skillHead{
    grid-area: pgHead;
    justify-self: stretch;
}

.skillCard{
    outline: 1px solid red;
}

.skillCard .icon{
    display: block;
    margin: 18px auto;
}

.empathy{
    grid-area: empathy;
}

.creative{
    grid-area: creative;
}

.tools{
    grid-area: tools;
}

.code{
    grid-area: code;
}

.miscSkills{
    grid-area: more;
    outline: 1px solid red;
}

.miscSkills li{
    display: inline;
}


/* Works Page */

#works{
    outline: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.workHead{
    outline: 1px solid red;
    text-decoration: underline;
    color: #17A398;
}

.flexFull{
    width: 100%;
}

.flexCard{
    flex-grow: 1;
    text-align: center;
}


/* Modal - Pulled from W3 Schools */



.modal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1;
    left: 0; /*??*/
    top: 0; /*??*/
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContent{
    background-color: #EEEEFF;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #441151;
    text-align: center;
    width: 70%; /* Could be more or less, depending on screen size */
}

.left{
    text-align: left;
}

.close {
    color: #10040E;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #441151;
  text-decoration: none;
  cursor: pointer;
}

.subButton{
    background-color: #441151;
    color: #EEEEFF;
    padding: 10px;
    border-radius: 10px;
}


/* Footer */

footer{
    background-color: #10040E;
    color: #EEEEFF;
    font-size: 10pt;
  }

.footList{
    font-size: 12pt;
    padding-left: 10px;
    padding-top: 5px;
}

.footList a{
    color: #EEEEFF !important;
    text-decoration: none !important;
}

.footLI{
  display: inline;
}


/* Mobile Media Query */
@media only screen and (max-width: 1000px){
   
    #works{ /* Flex Container */
        outline: 1px solid red;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .flexCard{ /* Flex Child */
        width: 100%;
        text-align: center;
    }

    #skills{ /* Grid Container */
        outline: 1px solid red;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "pgHead"
            "empathy"
            "creative"
            "tools"
            "code"
            "more"
            ;
    }
}