/* Universal Elements */

body{
    font-family: "Spectral", Garamond, serif;
    font-size: 16pt;
}

button{
    font-family: "Spectral", Garamond, serif;
    color: #17A398;
    background-color: white;
    border: none;
    text-decoration: underline;
    padding: 0%;
    font-size: 16pt;
}

h1{
    font-family: "Alice", Georgia, serif;
}

h2{
    font-family: "Style Script", Georgia, serif;
}

ul{
    width: 50%;
    margin-left: auto;
}

#pgHead{
    font-size: 40px;
    text-align: center;
}

.listHead{
    outline: 1px solid red;
    font-size: 20pt;
    text-decoration: underline;
}

.opt{ /* Keep optional items from displaying */
    display: none;
}


/* Header */
/* WIP
#navigation{
  height: 64px;
}

.tn{
    float: left;
    width: 12.9%;
    height: 100%;
    background-color: rgb(16, 4, 14, 0.25);
}

.nav{
    float: left;
    width: 61.2%;
    height: 100%;
    background-color: #10040E;
    color: #EEEEFF;
    font-family: "Spectral SC", Garamond, serif;
    font-size: 20pt;
    list-style-type: none;
}

.navTxt{
    padding-left: 50px;
    text-align: center;
    font-size: 20pt;
    vertical-align: middle;
}

.contactBar{
    background-color: rgb(16, 4, 14, 0.25);
    width: 12.9%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.linkedIn{
    padding: 7.9px;
    padding-bottom: 10px;
}

.email{
    padding-top: 15px;
}
WIP */

/* Homepage Content */

.heroImg{
    height: 600px;
    padding: 25px;
}

.content{
    width: 500px;
    margin: 0 auto;
}


/* Skills Page */

#skills{
    outline: 1px solid red;
}

.skillCard{
    outline: 1px solid red;
}

.miscSkills{
    outline: 1px solid red;
}


/* Works Page */

#works{
    outline: 1px solid red;
}

.workHead{
    outline: 1px solid red;
    text-decoration: underline;
}

/* Footer */
/* WIP
footer{
    background-color: #10040E;
    color: white;
    font-size: 12pt;
  }

.footList{
    display: inline-block;
    color: white;
    padding-right: 30%;
    font-size: 12pt;
    list-style-type: none;
}

.footLI{
  padding-right: 30%;
  display: inline-block;
  vertical-align: top
}

WIP */